.ads { background: #fcf9f5; color: #333; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-left: 4px solid dodgerblue; line-height: 1.5em; padding: 5px; }
.adsuc { color: white; position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; padding: 12px; text-align: center; background: black; font-weight: bold; font-style: italic; }
.adsuc a { color: white; }
.contact { color: black; border: 1px solid #ededed; border-radius: 5px 5px; padding: 7px; margin: 5px; }
.f1 { background: #fff; margin-right: 5px; margin-left: 5px; margin-bottom: 1px; margin-top: 1px; padding: 5px; border: 1px solid dodgerblue; text-align: center; border-radius: 5px 5px; }
.mc { background-color: #444; border-bottom: 2px solid #ff0000; border-left: 15px solid #ff0000; border-right: 15px solid #ff0000; border-top: 2px solid #ff0000; height: auto; margin: 0px; padding: 10px; text-align: center; width: auto; border-radius: 7px; }
.note { border: #bbb solid 1px; background: #ffffcc; color: #333; font-size: 12px; padding: 6px; margin-left: 5px; margin-right: 5px; margin-bottom: 3px; margin-top: 2px; border-radius: 6px 6px; }
.other { padding: 6px; margin: 5px; background: #fff; }
.rmenu { color: #fff; background: dodgerblue; font-weight: bold; display: block; margin-top: 2px; margin-bottom: 1px; margin-left: 5px; margin-right: 5px; padding-top: 5px; padding-bottom: 5px; padding-left: 6px; padding-right: 6px; border-radius: 5px 5px; }
.time { background: black; color: #fff; font-weight: bold; text-align: center; margin: 0; padding: 7px; display: block; }


.download { background: dodgerblue; margin-left: 5px; margin-right: 5px; padding: 9px; color: white; font-weight: border-radius:5px 5px;width:90%;bold; display: block; }
.footer { background: #444; border-top: solid 3px dodgerblue; padding: 15px; text-align: center; margin-top: 5px; color: white; }
.footera { background: black; padding: 7px; text-align: center; color: white; }
.foto { background: white; padding: 2px; border: solid 1px dodgerblue; margin: 2px; border-radius:120px;-webkit-box-shadow: 0 0 20px #50a7e6; }
.header { background: #333; color: white; padding: 10px; border-bottom: solid 3px dodgerblue; padding-bottom:5px;}
.konten { padding: 6px; margin: 5px; border: solid 1px #EDEDED; border-radius: 5px 5px ; background: #fff; }
.menu { color: black; border:1px solid #EDEDED; border-radius: 5px 5px;padding:7px;margin-left:5px;margin-right:5px;margin-top:0;margin-bottom:0}
.pagination { padding: 5px; text-align: center; }
.paging { display: inline-block; border: solid 1px #ccc; background: whitesmoke; padding: 4px; font-weight: bold; margin: 2px; }
.quote { background: #fff; padding: 5px; margin: 3px; border-top: solid 1px dodgerblue; border-bottom: solid 1px dodgerblue; border-right: solid 1px dodgerblue; border-left: solid 4px dodgerblue; }
.quotes { background: lavender; padding: 5px; margin: 3px; border-top: solid 1px dodgergreen; border-bottom: solid 1px dodgergreen; border-right: solid 1px dodgergreen; border-left: solid 4px dodgergreen; }
.title{ background: dodgerblue; padding: 10px; font-weight: bold; color: white; margin-top: 5px; margin-right: 5px; margin-left: 5px; padding-top: 6px; padding-bottom: 6px;border-radius:5px 5px }
.title a:link {color:white;}
.footer a:link{color:#ffffcc;font-weight:bold;}
.footer a:visited{color:white;font-weight:bold;}
body {margin:auto;padding:0;background:white;text-decoration:none;color:#333;font-family: arial;}
a:link{color:dodgerblue;font-family: arial;text-decoration:none;}
a:hover{color:red;text-decoration:underline}
a:visited{color:orange;text-decoration;bold;}
.musik a:hover{background:#0088aa;text-decoration:none;color:#fff;padding:1px 5px 1px 5px;border-radius: 5px 5px}
p {padding:0; margin:0}
.f a:hover,.konten a:hover,.f1 a:hover{color:red;text-decoration:none;color:green;padding:1px;}
input[type=password], select{width:auto; color:dodgerblue; border: 1px solid #adadad; padding: 4px;}
.contact input[type=text],.konten input[type=text], textarea{color: #333; margin:2px;background: white; width: 80%; margin-bottom: 2px; padding: 4px; font-family: Arial; font-size: 13px; font-weight: bold; border: 2px solid dodgerblue; border-radius:6px;}
body {max-width:700px;margin:auto;}
h1,h2,h3,h4,h5,h6,p{margin:0px; padding: 0px; font-weight:normal;font-size:12px}
.musik {border: solid 1px #ccc; padding: 9px; margin-left: 5px; margin-right: 5px; margin-bottom: 1px ;background:#fff;border-radius: 5px 5px;
display: block;}
.musik a { background: #50a7e6;padding: 1px 5px 1px 5px; text-align: center; color: #ffffff;border:1px solid dodgerblue; border-radius: 5px 5px; }
img {max-width:95%;padding:0;margin:0}
.mfun {background: #fbfbfb; border-left: solid 1px #ccc; border-right: solid 1px #ccc; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; padding: 6px; margin-left: 1px; margin-right: 1px; border-radius:5px 5px }
.mlist {background: #fbfbfb; border-left: solid 1px #ccc; border-right: solid 1px #ccc; border-bottom: solid 1px #ccc; padding: 6px; margin-left: 4px; margin-right: 4px; border-radius:5px 5px }
p {padding:0; margin:1px 0 0 0}
h1,h2,h3,h5{font-size:12px;}
.t1 {
margin: 5px;
padding: 6px;
background: #EAEBEE;
border: 1px dotted #FFFFFF; border-radius:5px 5px
}
.t1 h1{
font-size: 16px;
padding-top: px;
color: #545454; border-radius:5px 5px
}
.t1 h2{
font-size: 16px;
padding-top: px; border-radius:5px 5px
color: #545454;
}
.r1 {background: #FFFFFF;
border: 1px;
border-color: #FFFFFF #FFFFFF #1F0457 #FFFFFF; border-radius:5px 5px
overflow: hidden; padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 0px
}
.r2 { padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 0px;
background: #EAEBEE;
border: 1px;
border-color: #EAEBEE #EAEBEE #1F0457 #EAEBEE;
overflow: hidden; border-radius:5px 5px
}
.r1:hover{
background-color:#ff6000;
}
.r2:hover{
background-color:#ff6000;
}
#pagination-links {
background :#ddd;
border-top :1px solid #fff;
margin-left:5px;margin-right:5px;
padding :4px;
text-align :center;
font-size :12px; border-radius:5px 5px
}
#pagination-links span {
padding :4px;
margin :2px 0;
display :inline-block;
color :#fff;
content :'...';
}
#pagination-links a {
display :none;
padding :4px;
margin :2px;
background:dodgerblue;
border :1px solid #fff;
color :#fff; border-radius:5px 5px
}
#pagination-links a:first-child {
display :inline-block;
content :"";
float :left; 
}
#pagination-links a:last-child {
display :inline-block;
content :"View More ?";
float :right;
}
#pagination-links:after {
display :block;
content :"";
clear :both;
}
.f:nth-child(odd){padding:5px;border:1px solid #ddd;background:#fff;border-width:1px 0;margin-left:5px;margin-right:5px;margin-top:0;margin-bottom:0; border-radius:5px 5px }
.f:nth-child(even){padding:5px;border:1px solid #fff;background:#f5f5f5;border-width:1px 0;margin-left:5px;margin-right:5px;margin-top:0;margin-bottom:0; border-radius:5px 5px }
.footera a{color:#fff}
p a img {display:none;}
.content_view_container .thumb img{background:#fff;border:1px solid #ddd;padding:3px}
.other img{padding:0px;margin:0px;max-width:97%;}
.mc{ background-color: #444; border-bottom: 2px solid #ff0000; border-left: 15px solid #ff0000; border-right: 15px solid #ff0000; border-top: 2px solid #ff0000; height: auto; margin: 0px; padding: 10px; text-align: center; width: auto; border-radius: 7px; }


.kpop-search{ border:1px solid #e1e1e1; background-color:#ffffff; margin:2px; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px; -webkit-border-bottom-left-radius:3px; -webkit-border-bottom-right-radius:3px; padding:10px 6px;} .button{margin:0;padding:5px;font-family:'Ropa Sans',sans-serif;font-size:14px;outline:none;cursor:pointer;text-align:center;text-decoration:none;color:#FFF;border:solid 1px #0076A3;border-right:0;background:#0095CD;background:-webkit-gradient(linear,left top,left bottom,from(#00ADEE),to(#0078A5));background:-moz-linear-gradient(top,#00ADEE,#0078A5);border-top-right-radius:5px 5px;border-bottom-right-radius:5px 5px;}
.button:hover{text-decoration:none;background:#007EAD;background:-webkit-gradient(linear,left top,left bottom,from(#0095cc),to(#00678e));background:-moz-linear-gradient(top,#0095cc,#00678e)}
.input { margin:0; padding:5px 15px; font-family:'ropa sans',sans-serif; font-size: 14px; color:#666666; border:1px solid #0076a3; border-right:0px; border-top-left-radius:5px 5px; border-bottom-left-radius:5px 5px; }
.other img{max-width:95%;}

.chat-up {background-color:#fff; border:1px solid #bcd2ee; line-height:1.3em; margin:4px; padding:5px; position:relative; text-align:left; border-radius:4px;}

.chat-up:after, .chat-up:before {bottom:100%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; }

.chat-up:after {border-color:transparent transparent #fff transparent; border-style:solid; border-width:10px; height:0; width:0; position:absolute; top:-19px; left:10px; } .chat-up:before {border-color:transparent transparent #bcd2ee transparent; border-style:solid; border-width:10px; height:0; width:0; position:absolute; top:-21px; left:10px;}

.chat-down {background-color:#fff; border:1px solid #bcd2ee; line-height:1.3em; margin:4px; padding:5px; position:relative; text-align:left; border-radius:4px;} .chat-down:after, .chat-down:before {top:100%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; }

.chat-down:after {border-color:#fff transparent transparent transparent; border-style:solid; border-width:8px; height:0; width:0; position:absolute; bottom:-18px; left:20px; }

.chat-down:before {border-color:#bcd2ee transparent transparent transparent; border-style:solid; border-width:10px; height:0; width:0; position:absolute; bottom:-17px; left:18px; }

.chatt-up {background-color:#f2f6f8; border:1px solid #bcd2ee; line-height:1.3em; margin:4px; padding:5px; position:relative; text-align:left; border-radius:4px;} .chatt-up:after, .chatt-up:before {bottom:100%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; }

.chatt-up:after {border-color:transparent transparent #f2f6f8 transparent; border-style:solid; border-width:10px; height:0; width:0; position:absolute; top:-19px; left:10px; }

.chatt-up:before {border-color:transparent transparent #bcd2ee transparent; border-style:solid; border-width:10px; height:0; width:0; position:absolute; top:-21px; left:10px;}

.chatt-down {background-color:#f2f6f8; border:1px solid #bcd2ee; line-height:1.3em; margin:4px; padding:5px; position:relative; text-align:left; border-radius:4px;} .chatt-down:after,

.chatt-down:before {top:100%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; } .chatt-down:after {border-color:#f2f6f8 transparent transparent transparent; border-style:solid; border-width:8px; height:0; width:0; position:absolute; bottom:-18px; left:20px; }

.chatt-down:before {border-color:#bcd2ee transparent transparent transparent; border-style:solid; border-width:10px; height:0; width:0; position:absolute; bottom:-17px; left:18px; } 

.chat-bubble { background-color:#f2f6f8; border:none; line-height:1.3em; margin:0px; padding:5px; position:relative; text-align:left; width:96%; border:1px solid #bcd2ee;} 

.up-arrow-border { display:block; border-color:transparent transparent #bcd2ee transparent; border-style:solid; border-width:10px; height:0; width:0; position:absolute; top:-21px; left:10%; } 

.up-arrow { display:block; border-color:transparent transparent #f2f6f8 transparent; border-style:solid; border-width:10px; height:0; width:0; position:absolute; top:-19px; left:10%; } 

.sb-chat {background-color:#f2f6f8;border:none;line-height:1.3em;margin:0px;padding:4px;position:relative;text-align:left;width:95%;border-left:1px solid #bcd2ee;border-right:1px solid #bcd2ee;text-shadow:0px 1px 0px #fff;} 

.sb-chat-arrow-border { display:block;border-color:transparent #bcd2ee transparent transparent;border-style:solid;border-width:7px;height:0;width:0;position:absolute;top:6px;left:-15px;} 

.sb-chat-arrow { display:block; border-color:transparent #f2f6f8 transparent transparent;border-style:solid;border-width:7px;height:0;width:0;position:absolute;top:6px;left:-14px;}

.suniltchat:nth-child(odd){color:#468847;background-color:#DFF0D8;border-color:#D6E9C6; text-shadow:0 1px 0 rgba(255,255,255,0.5)
;margin-top:1px; padding:3px;}

.suniltchat:nth-child(even){align:right; color:#3A87AD;background-color:#D9EDF7;border-color:#BCE8F1;text-shadow:0 1px 0 rgba(255,255,255,0.5)
;margin-top:1px; padding:3px;}

.t1h, .t2h, .t3h, .t4h, .t2bh, .t3bh, .t4bh { font-size:1px; overflow:hidden; display:block; } .t1h{ height:1px; background:#bcd2ee; margin:0 5px; }

.t2h, .t2bh { height:1px;background:#e5e5e5; border-right:2px solid #bcd2ee; border-left:2px solid #bcd2ee; margin:0 3px; } 

.t3h, .t3bh { height:1px;background:#e5e5e5; border-right:1px solid #bcd2ee; border-left: 1px solid #bcd2ee; margin:0 2px; } 

.t4h, .t4bh { height:2px; background:#e5e5e5; border-right:1px solid #bcd2ee; border-left:1px solid #bcd2ee; margin:0 1px; } 

.t2bh, .t3bh, .t4bh{ background:#f2f6f8; } 

.sunilt {border:1px solid gray; background:darkgray; padding:1px 2px; border-radius:2px; color:white; float:right; text-shadow:none;} 

.sunilt2 {
background:#5f9ea0;
padding:1px 2px;
border-radius:2px;
color:white;
float:right;
text-shadow:none;
} 

.anu { background:#ffffff; margin:5px; padding:5px; border:solid 1px #bcd2ee; display:block; }
